/* SignUp.css */
.sign-up-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #0C0F14;
}

.sign-up-form {
  width: 250px;
  padding: 20px;
  border: 1px solid #52555A;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #141921; 
}

label {
  display: block;
  margin-bottom: 8px;
  color: #FFFFFF;
}

input {
  width: 100%;
  padding: 8px;
  margin-bottom: 16px;
  box-sizing: border-box;
  background-color: #252A32;
  border: 1px solid #52555A; 
  border-radius: 4px;
  color: #FFFFFF;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #D17842;
  color: #FFFFFF;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #DC3535; 
}

h2, p, a {
  color: #FFFFFF;
  text-decoration: none;
}